<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/public/main.css"> -->
    <title>Future Funk Generator</title>
	<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
	<style>
	#albumInfo{
		font-size: 24px;
	}
	
	.left{
		display: inline-block;
		width: 45vw;
		position: absolute;
		margin-left: 5px;
		margin-top: 5px;
	}
	
	.right{
		display: inline-block;
		float: right;
		margin-right: 30px;
	}
	img{
		max-height: 95vh;
		border: 1px solid black;
	}
	body{
		background: linear-gradient(to bottom right, #b383eb, #f2a5c1);
		font-family: 'Montserrat', sans-serif;
	}
	</style>
</head>
<body>
	<div id="body_container">
		{{{body}}}
	</div>
	
</body>
</html>