<div class="container">
	<div class="left">
		<header id="albumInfo">
			<b>Artist:</b> {{artist}}
			<br>
			<b>Album:</b> {{album}}
		</header>
		<h2>Songs:</h2>
		<ul id="songs_list">
			{{#each songList}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="right">
		<div id="art">
            <img src="{{albumArt}}" />
        </div>
	</div>
</div>